/* The two shades of blue to be used are: #84befe (darker) and #cbe5ff (lighter) */

body {
     font-family:Arial;
}

.rect {
     position:fixed;
     top:200px;
     right:-5px;
     width:30px;
     padding:20px 10px;
     border:2.2px dashed #84befe;
     text-align:center;
}

.rect a {
     color:#84befe;
     text-decoration:none;
}

.whole {
     background-color:#cbe5ff;
     width:900px;
     padding:40px;
     border:solid #cbe5ff;
     margin:30px auto;
}

.header {
     width:900px;
}

.box {
     background-color:white;
     width:200px;
     height:200px;
     border:solid white;
     position:relative;
}

.preview {
     background-color:#84befe;
     width:720px;
     height:360px;
     border:solid #84befe;
     margin-bottom: -180px;
     margin-left: 240px;
     position: relative;
     top:-200px;
     left: -40px;
}

