body {
     font-family:Arial;
}

.whole {
     width:900px;
     padding:40px;
     border:solid #CBE5FF;
     background-color:#CBE5FF;
}

/* #84befe (darker) and #cbe5ff (lighter) */

/* if link is not yet visited */
a:link {
     color:white;
     text-decoration:none;
     background-color:#84BEFE;
}

/* if link is already visited*/
a:visited {
     color:white;
     text-decoration:none;
     background-color:#84BEFE;
}

/* if link is hovered (mouse over) */
a:hover {
     color:#84BEFE;
     text-decoration:underline;
     background-color:white;
}

.rect {
     position:fixed;
     top:200px;
     right:-5px;
     border:dashed #CBE5FF;
     /* I'm acutally not sure about this cos it doesn't specify if those two values are for the margin, padding, or what... ugh */
}