h3 {
     font-family: "Courier New";
     text-align: center;
     }

fieldset {
          background-color:gray; /* background color of element */
          padding: 3px; /* Adjusts top, right, bottom and left padding of element */
          margin: 3px; /* Adjusts top, right, bottom and left margin of element */
          width: 100px;
          margin: 0px auto; /* top and bottom margin = 0px; left and right margin = automatically calculated */
          }

input { 
     font-family: "Courier Sans"; /* font of element */
     font-size: 20px; /* font size of element */
     }

#text {
     font-weight: bold; /* thickness of characters in a text (normal, bold or a constant value) */
     font-family: Georgia, "Times New Roman", Serif;
     color: #ff69b4; /* text color (color name, hex value or rgb value)*/
     text-decoration: underline; /* text decoration (overline, line-through or underline) */
     text-align: justify; /* horizontal alignment of text in element (center, left or right) */
     }

#colors {
     list-style-type: square; /* type of list-item marker in list (square, circle or disc) */
     }
     
#green-colors {
               list-style-type: upper-roman; /* (upper-roman lower-roman, lower-alpha or upper-alpha) */
               }

img {
     width: 80px;
     height: 60px;
     padding: 3px; /* top, right, bottom and left padding of element */
     margin: 3px; /*  top, right, bottom and left margin of element */
     }

.text {
     font-style: italic; /* text font style (normal, italic or oblique) */
     text-indent: 50px; /* indentation of first line in text-block */
     text-transform: uppercase; /* capitalization of text (uppercase, lowercase or capitalize) */
     border: 5px solid black; /*  border of the element (line, style and color) */
     vertical-align: middle; /* vertical alignment of element (top, middle or bottom) */
     }

/* if link is not yet visited */
a:link {
     color: #FF0000;
     text-decoration: none;
     }

/* if link is already visited*/
a:visited {
          color: #00FF00;
          }

/* if link is hovered (mouse over) */
a:hover {
     color: #FF00FF;
     text-decoration: underline;
     }

/* if link is clicked */
a:active {
          color: #0000FF;
          }

p::first-line {
               color: #FF0000;
               }